<a href="https://colab.research.google.com/github/michalszczecinski/data-driven-notebooks/blob/master/mathematics/math_arithmetic_sequences.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Disclaimer

* Content of this notebook is for my personal learning. 
* I currently use a repository of Python notebooks as my knowledge management system, it is like some people use note taking apps with the added benefit of interactivity and ability to programatically play with the concepts, ideas and data in order to deepen the understanding and strengthen recall.  
* Any opinions or ideas expressed here are on my own behalf and do not represent my employer.
* Note: This notebook is created from the template `knowledge_notebook_template.ipynb`. For convenience it inherits all potentially useful imports, helper utils and general structure. That means it is likely not using all the defined functionality.
* Content starts from the section [Header](#cell-header).

## Code Set Up

In [3]:
# #@title Imports {display-mode: "form"}
import platform
import datetime

import numpy as np
import pandas as pd

from collections import OrderedDict

In [17]:
# Print long columns (like in the header dataframe).
pd.set_option("max_colwidth", 500)

### Helper functions and snippets

Note: This notebook is created from the template `knowledge_notebook_template.ipynb`. For convenience it inherits all potentially useful imports, helper utils and general structure. That means it is likely not using all the defined functionality.

In [18]:
# @title {display-mode: "form"} 
def generate_header(author='unknown', title='unknown', description ='unknown', prepared_for='unknown', tags='', links=''):
    """
    Generates standard header with meta information describing the report.
    
    Args
    author:
    title:
    description:
    prepared_for:
    tags:

    Returns
    df_meta: Formatted Pandas Dataframe with meta information of the report.
    """
    meta_dict = OrderedDict()

    # Properties provided by author.
    meta_dict['author'] = author
    meta_dict['title'] = title
    meta_dict['description'] = description
    meta_dict['prepared_for'] = prepared_for
    meta_dict['tags'] = str(tags)
    meta_dict['links'] = str(links)

    # Properties auto generated by the system.
    runtime = datetime.datetime
    meta_dict['runtime'] = runtime.now().strftime("%Y-%m-%d %H:%M:%S")
    path = os.getcwd()
    meta_dict['path'] = path
    python_version = platform.python_version()
    meta_dict['python_version'] = python_version
    meta_dict['pandas_version'] = pd.__version__

    df_meta= pd.DataFrame(meta_dict, index=['meta_information']).T
    return df_meta

<a name="cell-header"></a>
# Header: Title and metadata

In [19]:
# setting up header info
author = 'Michal Szczecinski'
prepared_for ='purpose'
title = 'Arithmetic sequences and series.'
description = 'Build intuition for arithmetic sequences, present key definitions and formulas and finally demonstrate solving problems using those techniques.'
tags = ['#math', '#data-driven', '#sequences']
links = ['',]

generate_header(author=author, title=title, description=description, prepared_for=prepared_for, tags=tags)

                                                                                                                                               meta_information
author                                                                                                                                       Michal Szczecinski
title                                                                                                                          Arithmetic sequences and series.
description     Build intuition for arithmetic sequences, present key definitions and formulas and finally demonstrate solving problems using those techniques.
prepared_for                                                                                                                                            purpose
tags                                                                                                                    ['#math', '#data-driven', '#sequences']
links
runtime                                                                                                                                     2021-09-19 14:18:26
path                                                                                        /Users/michalszczecinski/Projects/data-driven-notebooks/mathematics
python_version                                                                                                                                            3.9.4
pandas_version                                                                                                                                            1.2.4

## Context

Patterns in numbers inform the development of algebraic tools that can be applied to find unknowns with speed and accuracy.

## Content

1. Young Gauss trick for summing quickly numbers between 1 and 100.
1. Simulation and generalization for summing numbers between 1 and N.
1. Arithmetis sequences and series definitions and formulas.

## Configuration

In [26]:
# Set number n to which you want to add up numbers (from 1 to n inclusive).
n = 100

## What is the sum of the whole numbers from 1 to N?

This is the question that teacher asked 10 year old Gauss in elementary school as "busy work". Instead Gauss was able to make smart observation and quickly calculate sum of the series by discovering a pattern.

### Method

Imagine you and your friend have cards numbered from 1 to 100. If your friend orders their deck in descending order and you both pick cards, you will have card '1' and your friend will have card '100', when you add them up, you will get '101'.

**What will happen if you pick another pair of cards from the decks?**

You will get '2' and '99', again which sum is 101. 

**How many such pairs of cards will you have?**

If you have 2 decks of 100 cards, you will have 100 pairs. Meaning this is going to happen 100 times. 

**What is going to be the sum of the numbers between 1 and 100?**

The total sum of those pairs is going to be twice as big as original problem of adding numbers between 1 and 100, because instead of 100 deck you used 2 decks. To get the answer you need to divide the sum you got (which is 100 pairs x 101 each) by 2.

**Example**

S = 1 + 2 + 3 +...+ 98 + 99 + 100

// adding elements in inverse order

S = 100 + 99 + 98 + ... + 3+2+1

// we can notice that sum of first elements from both series is 101

2S = (1+100) + (2+99) + (3+98) + ... (100+1)

2S = (101) * 100

S = 101 * 100 * 1/2

### Generalisation

$$
S = 1+2+3+...+N-1 + N \\
S = N + (N-1) + (N-2) + ... + 3 + 2 + 1\\
2S = (1+N) + (2+N-1) + (3+N-2) + ... + (N-2 + 3) + (N-1 + 2) + (N + 1)\\
2S = (N+1)* N\\
S = (N+1)*N *1/2\\
S = \frac{N^{2} + N}{2}
$$

## Simulation

In [25]:
s = (n**2 + n) * 0.5
s

5050.0

In [21]:
# Calculates sum of arithmetic series consinsting of 
# consecutive integer numbers until n using numerical method.
s1 = np.array(range(1,n+1,1))
s2 = np.array(range(n,0,-1)) 
print(s1)
print(s2)

[  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100]
[100  99  98  97  96  95  94  93  92  91  90  89  88  87  86  85  84  83
  82  81  80  79  78  77  76  75  74  73  72  71  70  69  68  67  66  65
  64  63  62  61  60  59  58  57  56  55  54  53  52  51  50  49  48  47
  46  45  44  43  42  41  40  39  38  37  36  35  34  33  32  31  30  29
  28  27  26  25  24  23  22  21  20  19  18  17  16  15  14  13  12  11
  10   9   8   7   6   5   4   3   2   1]

In [22]:
sum_elements = s1 + s2
sum_elements

array([101, 101, 101, 101, 101, 101, 101, 101, 101, 101, 101, 101, 101,
       101, 101, 101, 101, 101, 101, 101, 101, 101, 101, 101, 101, 101,
       101, 101, 101, 101, 101, 101, 101, 101, 101, 101, 101, 101, 101,
       101, 101, 101, 101, 101, 101, 101, 101, 101, 101, 101, 101, 101,
       101, 101, 101, 101, 101, 101, 101, 101, 101, 101, 101, 101, 101,
       101, 101, 101, 101, 101, 101, 101, 101, 101, 101, 101, 101, 101,
       101, 101, 101, 101, 101, 101, 101, 101, 101, 101, 101, 101, 101,
       101, 101, 101, 101, 101, 101, 101, 101, 101])

In [23]:
sum_elements.sum() * 0.5

5050.0

## II

###

###

###

## III

###

###

###

## References
1. [Oxford IB Diploma Programme; Mathematics: Analysis and Approaches.](https://bookshelf.oxfordsecondary.co.uk/contents/428/index.html)