<a href="https://colab.research.google.com/github/michalszczecinski/data-driven-notebooks/blob/master/physics/eng_units.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Disclaimer

* Content of this notebook is for my personal learning. 
* I currently use a repository of Python notebooks as my knowledge management system, it is like some people use note taking apps with the added benefit of interactivity and ability to programatically play with the concepts, ideas and data in order to deepen the understanding and strengthen recall.  
* Any opinions or ideas expressed here are on my own behalf and do not represent my employer.
* Note: This notebook is created from the template `knowledge_notebook_template.ipynb`. For convenience it inherits all potentially useful imports, helper utils and general structure. That means it is likely not using all the defined functionality.
* Content starts from the section [Header](#cell-header).

## Code Set Up

In [ ]:
#@title Imports {display-mode: "form"}
import sys
import os
import platform
import random
import itertools
import math
import datetime

import numpy as np
import pandas as pd

# plotting
import matplotlib.pyplot as plt
import seaborn as sns

# reading google sheets files
import gspread
from oauth2client.client import GoogleCredentials

from collections import OrderedDict

# print versions
print (f"system: {sys.version}")
print (f"pandas: {pd.__version__}")
print (f"numpy: {np.__version__}")

system: 3.7.12 (default, Sep 10 2021, 00:21:48)
[GCC 7.5.0]
pandas: 1.1.5
numpy: 1.19.5

In [ ]:
# @title Dislay settings  {display-mode: "form"} 
sns.set(context='notebook', style="whitegrid", rc={"figure.figsize": (20, 10)})
# pd.set_option("display.float_format", '{:.3f}'.format)
pd.set_option("display.max_rows", 120)
pd.set_option("display.max_columns", 120)
pd.set_option("max_colwidth", 200)

### Helper functions and snippets

Note: This notebook is created from the template `knowledge_notebook_template.ipynb`. For convenience it inherits all potentially useful imports, helper utils and general structure. That means it is likely not using all the defined functionality.

#### Loading data from gsheet

In [ ]:
# @title Google Authentication {display-mode: "form"}
# from google.colab import auth
# auth.authenticate_user()

In [ ]:
# @title {display-mode: "form"} 
# importing data from google sheet
def get_data_gsheet(name='data_jobs_summary'):
  gc = gspread.authorize(GoogleCredentials.get_application_default())
  worksheet = gc.open(name).sheet1
  # get_all_values gives a list of rows.
  rows = worksheet.get_all_values()
  header = rows[0]
  df_data = pd.DataFrame.from_records(data=rows[1:], columns=header)
  return df_data

# df = get_data_gsheet()

In [ ]:
# @title {display-mode: "form"} 
def generate_header(author='unknown', title='unknown', description ='unknown', prepared_for='unknown', tags=''):
    """
    desc: generates standard header with meta information describing report
    input: author, title, description, prepared_for, tags
    output: rendering formatted dataframe with report details
    """
    meta_dict = OrderedDict()

    # properties to fill
    meta_dict['author'] = author
    meta_dict['title'] = title
    meta_dict['description'] = description
    meta_dict['prepared_for'] = prepared_for
    meta_dict['tags'] = str(tags)

    # auto generated
    runtime = datetime.datetime
    meta_dict['runtime'] = runtime.now().strftime("%Y-%m-%d %H:%M:%S")
    path = os.getcwd()
    meta_dict['path'] = path
    python_version = platform.python_version()
    meta_dict['python_version'] = python_version
    meta_dict['pandas_version'] = pd.__version__

    df_meta= pd.DataFrame(meta_dict, index=['meta_information']).T
    return df_meta

<a name="cell-header"></a>
# Engineering Units

In [ ]:
# setting up header info
author = 'Michal Szczecinski'
prepared_for ='Practicing working efficiently with engineering units.'
title = 'Engineering Units'
description = 'Notebook listing most common units and showing examples of transformations between the units.'
tags = ['#physics', '#engineering', '#fundamentals', '#units']
generate_header(author=author, title=title, description=description, prepared_for=prepared_for, tags=tags)

                                                                                             meta_information
author                                                                                     Michal Szczecinski
title                                                                                       Engineering Units
description     Notebook listing most common units and showing examples of transformations between the units.
prepared_for                                           Practicing working efficiently with engineering units.
tags                                                  ['#physics', '#engineering', '#fundamentals', '#units']
runtime                                                                                   2021-10-17 03:38:07
path                                                                                                 /content
python_version                                                                                         3.7.12
pandas_version                                                                                          1.1.5

## Context

## Configuration

## Prefixes

In [ ]:
d = {'tera': [10**12, 'T'],
     'giga': [10**9, 'G'],
     'mega': [10**6,'M'],
     'kilo': [10**3,'k'],
     'milli': [10**(-3),'m'],
     'micro': [10**(-6), 'mu'],
     'nano': [10**(-9),'n'],
     'pico': [10 **(-12), 'p']}

df_prefixes = pd.DataFrame(d, index=['multiplication_factors','si_symbol']).T
df_prefixes

      multiplication_factors si_symbol
tera           1000000000000         T
giga              1000000000         G
mega                 1000000         M
kilo                    1000         k
milli                  0.001         m
micro                  1e-06        mu
nano                   1e-09         n
pico                   1e-12         p

### SI base units

In [ ]:
seven_base_units = {'length': ['meter', 'm'],
                   'mass': ['kilogram','kg'],
                   'time': ['second', 's'],
                   'current': ['ampere', 'A'],
                   'temperature': ['kelvin','K'],
                   'luminous intensity': ['candela','cd'],
                   'amount of substance': ['mole', 'mol']}
df_units = pd.DataFrame(seven_base_units, index=['si_unit','abbreviation']).T
df_units

                      si_unit abbreviation
length                  meter            m
mass                 kilogram           kg
time                   second            s
current                ampere            A
temperature            kelvin            K
luminous intensity    candela           cd
amount of substance      mole          mol

In [ ]:
# TODO: write program that converts the units
value = 50
unit_given = 'kilo'
unit_desired = 'mega'

## Examples

**Example 1**

Change 60 $cm^2$ to $m^2$.

**Solution**

Square represents area - multiplied two lengths. For example:

60 $cm^2$ = 60 cm x 1 cm ; or

60 $cm^2$ =  60 x 1 cm x 1 cm ;

Therefore we need to convert the values twice:

$60 * 1 * 10^{-2} m * 1 *10^{-2} m $

In [ ]:
value = 60 
value

0.006

**Example 2**

Convert cross sectional area of 0.3 cm^2 to m^2.

**Solution**

We convert 1 cm to meter which is just 0.01 m (1 /100 = 10^-2). Since there is product of centimeters in cm squared we convert it twice and multiply. 

$$
A = 0.3 cm^2 = 0.3 * 1 cm * 1 cm = 0.3 * 1 * 10^{-2} m * 1*10^{-2} m = 0.3 *  (10^{-2} m)^2 = 0.3 * 10^{-4} m^2
$$

In [5]:
value =  0.3
value * (10**(-2))**2

3e-05

## References